
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

nav{
    flex: auto;
    display: flex;
    justify-content: center;
    gap: 20%;
    background-color: #EFDECD;
    padding: 1rem 0rem;
    border-bottom: 0.3rem outset #EFDECD;
    & button{
        font-size: 1.4rem;
        font-weight: bold;
        padding: 0.5rem 3rem;
        border-radius: 45%;
        background-color: #954535;
        border: none;
        box-shadow: 2px 2px 5px #823C2E;
        
    }
    & button:hover{
        background-color: #703428;
    }
    & button:active{
        background-color: #954535;
    }
}

#container{
    /* background-color: burlywood; */
    flex: auto;
    height: 100vh;
    padding: 10rem 20rem;
    display: flex;
    flex-direction: column;
}

.Home{
    background-image: url(./paws.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    background-color: aqua;
}

.Menu{
    background-color: blue;
}

.About{
    background-color: yellow;
}

.main-window{
    flex: none;
    width: max-content;
    align-self: center;
    background-color: #EFDECD;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
    gap: 5rem;

}